<h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>

<div class="ask-form">
    <form action="/api/questions" method="POST" >
        <textarea name="question" id="" rows="10" cols="50"></textarea>
        <input type="submit" value="Gửi">
    </form>
</div>
