<div class="container">
    <form action="upload/submit" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-3">
                <fieldset class="form-group">
                    <input type="file" name="imageUrl" class="form-control" placeholder="Your Image" required>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="form-control" value="upload">
                </fieldset>
            </div>
            <div class="col-9">
                <fieldset class="formgroup">
                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                </fieldset>
                <fieldset class="formgroup">
                    <input type="text" name="title" class="form-control" placeholder="Title">
                </fieldset>
                <fieldset class="formgroup">
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10" placeholder="Add a description"></textarea>
                </fieldset>
                <fieldset class="formgroup">
                    <label for="Date of birth"></label>
                    <input type="date" name="birthday" class="form-control">
                </fieldset>
                <fieldset class="formgroup">
                    <textarea name="commentContent" id="commentContent" cols="30" rows="10" placeholder="add your first comment (additional)"></textarea>
                </fieldset>
            </div>
        </div>
    </form>
</div>