*{
    font-weight: bold;    
}
.navbar{
    margin-bottom: 10px;
    background-color:#222222;
    font-weight: bold;
}
h1, h3{
    margin: 60px auto 10px;
}

/* home */
#btn-answer{
    margin-top:60px;
}
.btn-lg{
    padding: 10px 16px;
    font-size: 18px;
}
.btn-danger{
    background: #d9534f;
    border-color:#d43f3a;
}
.btn-danger:hover{
    background: #ac2925;
}
.btn-primary{
    background:#337ab7;
    border-color: #2e6da4;
}
.btn-primary:hover{
    background:#204d74;
}

#btn-navigate{
    margin-top:60px;
}
#btn-navigate a{text-decoration: none;}
#btn-navigate a button{
    color:#333;
    border-color: #ccc;
}

/* question */
#result-bar{
    border-radius: 4px;
    overflow: hidden;
}
#result-bar div{
    text-align: center;
    color: white;
    padding: 7px 0; 
    margin: 0;
    float: left;
}

#vote-no{
    background:#d9534f;
}
#vote-yes{
    background:#337ab7;
}

.question-handlebars .btn-success{
    margin-top: 60px;
    padding: 10px 20px;
}