<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết đê!</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <span class="logo"><a href="/"><h2>Quyết đê!</h2></a></span>
        <nav class="navbar">
            <a href="/ask" class="ask-btn">Hỏi</a>
            <a href="/answer" class="answer-btn">Đáp</a>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>Copyright (C) 2018 Google Inc. All rights reserved.</p>
    </footer>
</body>
</html>